body {
	font: normal auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
	
}


table.lMenu {
	font-size: 11px;
}

table {
font-size: 11px;
}

table.mainTable {
	background: white;
    border-color: #C1DAD7;
    border-width: 1px 1px 1px 1px;
    border-style: solid;

}

table.oddTable {
	background: #CAE8EA;
	color:black;
	border: 0px 0px 2px 0px solid #4f6b72;

}
table.evenTable {
	background: rgb(245,252,252);
}
td.logo {
font-size:20pt;
padding-bottom:10px;
font-weight:bold;
}

td.top5 {
	padding-top:5px;
}

tr.op {
background:#CAE8EA;
border-bottom:1px solid #C1DAD7;
border-right:1px solid #C1DAD7;
border-top:1px solid #C1DAD7;
color:#4F6B72;
font-weight: bold;
padding:6px 6px 6px 12px;
text-align:left;
}

td.o1 {
	height:22px;
	padding-left: 4px;
}

form {
padding: 0px;
}

select,input {
font-size:11px;
}

td.pages {
text-align: center;
color:#4F6B72;
font-size: 12px;
font-weight: bold;
padding-left:6px;
}

td.p5 {
	padding-top:5px;
}

a.pages:hover {
border:1px solid #547CB0;
text-decoration:none;
}

a.link:hover {
color: rgb(255, 69, 0);
text-decoration:none;
font-weight:bold;
font-family: Tahoma;
}

a.link {
color: #4F6B72;
text-decoration:none;
font-weight:bold;
font-family: Tahoma;
}

div.sel {
color: #797268;
}



a.b1 {
font-weight:bold;
text-decoration:none;
color: #FF4500;
}
a.m1 {
text-decoration:none;
color:#4F6B72;
}

a.pages {
border:1px solid #ECF0F8;
padding-left:5px;
padding-top:2px;
padding-bottom:2px;
font-weight:bold;
padding-right:5px;
font-size: 11px;
text-decoration:none;
color:#4F6B72;
}

td.selected {
font-family: Tahoma;
font-size: 11px;
font-weight:bold;
width:18px;
height:18px;
text-align: center;
color: rgb(255, 69, 0);
}



td.menu {
	background: white;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	width: 100;
	vertical-align: top;
	text-align: center;
	border-top: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
}

td.t1 {
	border-bottom: 1px solid #C1DAD7;
	padding: 4px 4px 6px 8px;
}

td.sel {
	border-bottom: 1px solid rgb(255, 69, 0);
	padding: 4px 4px 6px 8px;
}
td.t3 {
	text-align:right;
	padding-right:11px;
	padding-bottom: 6px;
}
td.t4 {
	padding-bottom: 6px;
	padding-top: 6px;
	background: #E6EAE9;
}

td.block_selected {
	border-top: 1px solid rgb(255, 69, 0);
	border-bottom: 1px solid rgb(255, 69, 0);
	border-right: 1px solid rgb(255, 69, 0);
	border-left: 1px solid rgb(255, 69, 0);
}

td.t2 {
	border-top: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;

}
td.l5 {
	padding-left: 5px;
}

table.lists {
	background:white;
	margin: 0px;
}

td.right {
	vertical-align: top;
	color: #4f6b72;

}


.buttons {
	background: rgb(255, 69, 0);
	border: 1px solid #CCCCCC;
	font-weight:bold;
	color: #FFFFFF;
	font-family: Tahoma;
	padding-top: 1px;
	padding-bottom: 4px;
	vertical-align: absmiddle;
	font-size: 12px; 
	height: 20px;
	width: 70px;
}