@CHARSET "UTF-8";

.buynow_img{
    margin-top: 4px;
    margin-bottom: 4px;
}

.rounded_corners{
	border-radius: 6px 6px 6px 6px;
 	-moz-border-radius: 6px 6px 6px 6px;
 	-webkit-border-radius: 6px 6px 6px 6px;
 	behavior: url('border-radius.htc');
		border:1px solid #dcdcdc;
}

.sell2{
	color:#006699;
	background-color: #dfecff;
	border: 1px solid;
	border-color: #b2c3dc;
	padding:2px;
}

.c10 {padding:1px; background-color: #0082D6; color: #003366; font-weight: bold;} /* blue */
.c10 a {color: #003366; font-weight: bold;}
.c10 a:hover {color: #003366; font-weight: bold;}

.lessthan , .lessthan a{
	font-size: 12pt;
}
/*
.buyitnow_button_image{
	color: white;
	width: 105px;
	height: 23px;
	font-size: 12px;
	margin-top: 3px;
	text-decoration: none;
	position: relative;
	padding-top: 6px;
	background: url(/themes/v52/img/system/button1_small.png);
	background-repeat: no-repeat;
	background-position: 50% 3px;
	font-family: tahoma;
}*/

.buyitnow_button_image{
	cursor: pointer;
	color: white;
	width: 108px;
	height: 20px;
	margin-top: 8px;
	margin-bottom:4px;
	padding-top: 2px;
	background: url(/themes/v52/img/system/button1.png);
	background-repeat: no-repeat;
	/*background-position: 50% 3px;*/

	
}

a.buyitnow_button_a:hover,a.buyitnow_button_a:link,a.buyitnow_button_a:visited,a.buyitnow_button_a:active{
	color:white;
	text-decoration: none;
	font-family: tahoma, sans;
	font-size: 12px;
	/*position: absolute;
	margin-left:-26px;*/
}

.gradiented_element_1{
	/*DEUBG: especially for "seller info" on auctiondetails. May cause bugs. */
	font-size: 10px; font-weight: bold; color: #FFFFFF;
	
	height: 21px;
	/*vertical-align: middle; doesn't work. use top:50% on 'sell' */
	position: relative;
	padding-left: 4pt;
	
	border:1px solid #dcdcdc;
    background: #3e89d3;/*    background: -moz-linear-gradient(top, #3E89D3, #2F577E);
    background: -webkit-gradient(linear,                left top, left bottom, from(#3E89D3), to(#2F577E));
    filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
	
				background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
}

a { font-size: 11px; color: #003366; text-decoration: underline; }

.sorting_background{
	font-weight: bold;
	background-color: #E3EEF6; /* lightgray dark */
	border-width: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-style: solid;
	border-color:  #c9d2da;
	font-size: 14px;
	text-decoration: none; 
	
	color: #3e4c56;
}

.sorting_background a, .sorting_background a:hover{
	color: #3e4c56;
	font-size: 14px;
}

.gradiented_element_2{
	background: #b8cce0; /* Old browsers */
	background: -moz-linear-gradient(top,  #b8cce0 1%, #53606d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b8cce0), color-stop(100%,#53606d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b8cce0 1%,#53606d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b8cce0 1%,#53606d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b8cce0 1%,#53606d 100%); /* IE10+ */
	background: linear-gradient(top,  #b8cce0 1%,#53606d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8cce0', endColorstr='#53606d',GradientType=0 ); /* IE6-9 */
	border-right: 1px #999999 solid;
}
	
.headerfont{
	color: #ffffff;
	text-decoration:none;
	font-size: 10px;
}

.headerfont a{
	color: #ffffff;
	text-decoration: underline;
	font-size: 10px;
}
.headerfont a:hover{
	color: #ffffff;
	text-decoration:none;
	font-size: 10px;
}

.footer_rightpart{ /*see also style.css - fonr style is there */
	/*DEUBG: especially for "seller info" on auctiondetails. May cause bugs. */
	
	padding: 0px;
	border-spacing: 0px;
	height: 21px;
	/*vertical-align: middle; doesn't work. use top:50% on 'sell' */
	border:1px solid #dcdcdc;
	border-left: 0px;
	border-radius: 0px 6px 6px 0px;
 	-moz-border-radius: 0px 6px 6px 0px;
 	-webkit-border-radius: 0px 6px 6px 0px;
 	behavior: url('border-radius.htc');
		
    background: #3e89d3;/*    background: -moz-linear-gradient(top, #3E89D3, #2F577E);
    background: -webkit-gradient(linear,                left top, left bottom, from(#3E89D3), to(#2F577E));
    filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
	
				background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
}

.footer_leftpart{ /*see also style.css - fonr style is there */
	/*DEUBG: especially for "seller info" on auctiondetails. May cause bugs. */
	
	padding: 0px;
	border-spacing: 0px;
	height: 21px;
	/*vertical-align: middle; doesn't work. use top:50% on 'sell' */
	border:1px solid #dcdcdc;
	border-right: 0px;
	border-radius: 6px 0px 0px 6px;
 	-moz-border-radius: 6px 0px 0px 6px;
 	-webkit-border-radius: 6px 0px 0px 6px;
 	behavior: url('border-radius.htc');
		
    background: #3e89d3;/*    background: -moz-linear-gradient(top, #3E89D3, #2F577E);
    background: -webkit-gradient(linear,                left top, left bottom, from(#3E89D3), to(#2F577E));
    filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
	
				background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
}

.header1{
	border-radius: 6px 6px 6px 6px;
 	-moz-border-radius: 6px 6px 6px 6px;
 	-webkit-border-radius: 6px 6px 6px 6px;
 	behavior: url('border-radius.htc');
	
	/*DEUBG: especially for "seller info" on auctiondetails. May cause bugs. */
	font-size: 10px; font-weight: bold; color: #FFFFFF;
	
	height: 21px;
	/*vertical-align: middle; doesn't work. use top:50% on 'sell' */
	position: relative;
	padding-left: 4pt;
	
	border:1px solid #dcdcdc;
    background: #3e89d3;/*    background: -moz-linear-gradient(top, #3E89D3, #2F577E);
    background: -webkit-gradient(linear,                left top, left bottom, from(#3E89D3), to(#2F577E));
    filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
	
				background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
}

.header2{
	border-radius: 6px 6px 0px 0px;
 	-moz-border-radius: 6px 6px 0px 0px;
 	-webkit-border-radius: 6px 6px 0px 0px;
 	behavior: url('border-radius.htc');
	
	/*DEUBG: especially for "seller info" on auctiondetails. May cause bugs. */
	font-size: 10px; font-weight: bold; color: #FFFFFF;
	
	height: 21px;
	/*vertical-align: middle; doesn't work. use top:50% on 'sell' */
	position: relative;
	padding-left: 4pt;
	
	border:1px solid #dcdcdc;
    background: #3e89d3;/*    background: -moz-linear-gradient(top, #3E89D3, #2F577E);
    background: -webkit-gradient(linear,                left top, left bottom, from(#3E89D3), to(#2F577E));
    filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
	
				background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
}




/*fixed height cyan border*/
.leftborder1{
	margin-top: 8px;
	padding: 0px;
	width: 295px;
	height: 144px;

	border: 0px;

	background-image: url(/themes/v52/img/bg-welcome-left.png);
	background-repeat: repeat-y;
	background-position: 0% 0%;

}

.rightborder1{
	padding:0px;
	height: 100%;

	background-image: url(/themes/v52/img/bg-welcome-right.png);
	background-repeat: repeat-y;
	background-position: 100% 0%;
}

.rightborder1 div{
	padding-left: 10px;
	padding-right: 10px;
	padding-top:8px;
	padding-bottom: 0px;
	/*overflow: auto;*/
}

/*many nested divs, one in other*/
/*left*/
.cyanborder{ 
	margin-top: 8px;
	padding: 0px;
	background-color: #dfecff;
	
	background-image: url(/themes/v52/img/cyanborder-border-pixel.png);
	background-repeat: repeat-y;
	background-position: 0% 0%;


}

/*top*/
.cyanborder div{
	background-image: url(/themes/v52/img/cyanborder-border-pixel.png);
	background-repeat: repeat-x;
	background-position: 0% 0%;
}
 /* right */
.cyanborder div div{
	background-image: url(/themes/v52/img/cyanborder-border-pixel.png);
	background-repeat: repeat-y;
	background-position: 100% 0%;
}

/* bottom */
.cyanborder div div div{
	background-image: url(/themes/v52/img/cyanborder-border-pixel.png);
	background-repeat: repeat-x;
	background-position: 0% 100%;

}

/* borders. usual border: 1px; does not suit here. */
/*left-top*/
.cyanborder div div div   div{
	background-image: url(/themes/v52/img/cyanborder-left-top.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;

}

/*right-top*/
.cyanborder div div div   div div{
		background-image: url(/themes/v52/img/cyanborder-right-top.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.cyanborder div div div   div div div{
	background-image: url(/themes/v52/img/cyanborder-right-bottom.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.cyanborder div div div   div div div div{
	background-image: url(/themes/v52/img/cyanborder-left-bottom.png);
	background-repeat: no-repeat;
	background-position: 0% 100%;
}

.cyanborder div div div   div div div div div{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 10px;
	
	background-image: none;
}

.cyanborder div div div   div div div div div div{
	padding: 0px; /*padding is done in outer container*/
	padding-bottom: 0px;
	background-image: none;
	display: hidden;	
}


.welcome_advertisement_table{
	border: 0px;
	padding: 0px;
	margin:0px;
	border-spacing: 0px;
	background-color: #ffffff;
	
}



.footer{

}

.mainmenu_halfrounded{
	/* font style copied from style.css */
	font-size: 10px; font-weight: bold; color: #FFFFFF;
	
	border-radius: 6px 6px 0px 0px;
 	-moz-border-radius: 6px 6px 0px 0px;
 	-webkit-border-radius: 6px 6px 0px 0px;
 	behavior: url('border-radius.htc');
	
border:1px solid #dcdcdc;
    background: #3e89d3;/*    background: -moz-linear-gradient(top, #3E89D3, #2F577E);
    background: -webkit-gradient(linear,                left top, left bottom, from(#3E89D3), to(#2F577E));
    filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
	
				background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
	}

.mainmenu{
	border-radius: 6px 6px 6px 6px;
 	-moz-border-radius: 6px 6px 6px 6px;
 	-webkit-border-radius: 6px 6px 6px 6px;
 	behavior: url('border-radius.htc');
	
border:1px solid #dcdcdc;
    background: #3e89d3;/*    background: -moz-linear-gradient(top, #3E89D3, #2F577E);
    background: -webkit-gradient(linear,                left top, left bottom, from(#3E89D3), to(#2F577E));
    filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
	
				background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
  }
  
.mainmenuactive{    -moz-border-radius:6px;
	
-webkit-border-radius:6px;
	
behavior: url('border-radius.htc');
	
border-radius:6px;
	
border:1px solid #dcdcdc;
    background: #3E89D3;
	
background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
  }

/**/
.mainmenu2{
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    behavior: url('border-radius.htc');

    border:1px solid #dcdcdc;
    background: #3e89d3;/*    background: -moz-linear-gradient(top, #3E89D3, #2F577E);
    background: -webkit-gradient(linear,                left top, left bottom, from(#3E89D3), to(#2F577E));
    filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);

				background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
    background: -moz-linear-gradient(top,  #fad414 0%, #CDB124 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%#fad414), color-stop(100%,#CDB124));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fad414 0%,#CDB124 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fad414 0%,#CDB124 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fad414 0%,#CDB124 100%);/* IE10+ */
    background: linear-gradient(top, #fad414 0%,#CDB124 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad414', endColorstr='#CDB124',GradientType=0 );/* IE6-9 */
}

.mainmenuactive2{    -moz-border-radius:6px;

    -webkit-border-radius:6px;

    behavior: url('border-radius.htc');

    border-radius:6px;

    border:1px solid #dcdcdc;
    background: #fad414;

    background: -moz-linear-gradient(top,  #fad414 0%, #CDB124 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fad414), color-stop(100%,#CDB124));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fad414 0%,#CDB124 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fad414 0%,#CDB124 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fad414 0%,#CDB124 100%);/* IE10+ */
    background: linear-gradient(top,  #fad414 0%,#CDB124 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad414', endColorstr='CDB124',GradientType=0 );/* IE6-9 */
}
.mainbutton {		text-decoration: none;
	
font-family: Arial, Helvetica, sans-serif;
	
font-size: 10px;
	
color: #ffffff;
	
padding: 10px 20px;
	
border-radius: 10px;
	
-moz-border-radius: 10px;
	
-webkit-border-radius: 10px;
	
-moz-box-shadow:		0px 1px 3px rgba(000,000,000,0.5),		inset 0px 0px 1px rgba(255,255,255,0.5);
	
-webkit-box-shadow:		0px 1px 3px rgba(000,000,000,0.5),		inset 0px 0px 1px rgba(255,255,255,0.5);
	
text-shadow:		0px -1px 0px rgba(000,000,000,0.7),		0px 1px 0px rgba(255,255,255,0.3);
}
.mainbuttonblue{	background: #3E89D3;
	
border: 1px solid #003366;
	
filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
	
background: -moz-linear-gradient(		top,		#3E89D3  0%,		#2F577E);
	
background: -webkit-gradient(		linear, left top, left bottom,		from(#3E89D3),		to(#2F577E));
	
}
.mainbuttonorange{	background:#fad414;
	
	border: 1px solid #003366;
	
	background: -moz-linear-gradient(		top,		#fad414 0%,		#f79503);
	
background: -webkit-gradient(		linear, left top, left bottom,		from(#fad414),		to(#f79503));
}


.loginblock{	height:104px;
	
	
	
line-height: 50px;
}
.search16{		-webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}
.searchbar_wrapper{	background: #336699;
	
background-color:  #336699;
	
filter: progid:DXImageTransform.Microsoft.Gradient(                StartColorStr='#3E89D3', EndColorStr='#2F577E', GradientType=0);
}


.searchbar {
	height:40px;
	background: #3E89D3;
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
}
.language_td {	width:132px;
}
#main_search_button{	height:25px;
	
-webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
	
}/* BUTTONS */
.buttonsbox a, .buttonsbox button{    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
 font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;/* Links */
}
.buttonsbox button{    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px;/* IE6 */
}
.buttonsbox button[type]{    padding:5px 10px 5px 7px;/* Firefox */
    line-height:17px;/* Safari */
}
*:first-child+html button[type]{    padding:4px 10px 3px 7px;/* IE7 */
}
.buttonsbox button img, .buttonsbox a img{    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}/*Register button*/
button.register, .buttonsbox a.register{	background-color:#fad414;
    color:#fff;
    border: 1px solid #f79503;
	
	background: #fad414;/* Old browsers */
	background: -moz-linear-gradient(top,  #fad414 0%, #f79503 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fad414), color-stop(100%,#f79503));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fad414 0%,#f79503 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fad414 0%,#f79503 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fad414 0%,#f79503 100%);/* IE10+ */
	background: linear-gradient(top,  #fad414 0%,#f79503 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad414', endColorstr='#f79503',GradientType=0 );/* IE6-9 */
}
.buttonsbox a.register:hover, button.register:hover{    background-color:#fad414;
    border: 1px solid #f79503;
    color:#fff;
}
.buttonsbox a.register:active{    background-color:#fad414;
    border: 1px solid #f79503;
    color:#fff;
}/*lloginbutton button*/
button.loginbutton, .buttonsbox a.loginbutton{	background-color:#2F577E;
    color:#fff;
    border: 1px solid #2F577E;
    margin-left: 5px;
	
		background: #3e89d3;/* Old browsers */
	background: -moz-linear-gradient(top,  #3e89d3 0%, #2f577e 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e89d3), color-stop(100%,#2f577e));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);	/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* IE10+ */
	background: linear-gradient(top,  #3e89d3 0%,#2f577e 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e89d3', endColorstr='#2f577e',GradientType=0 );/* IE6-9 */
}
.buttonsbox a.loginbutton:hover, button.loginbutton:hover{	border: 1px solid #2F577E;
    background-color:#3E89D3;
    color:#fff;
}
.buttonsbox a.loginbutton:active{	border: 1px solid #2F577E;
    background-color:#2F577E;
    color:#fff;
}
.buttonsbox a, .buttonsbox button{margin:5px;
	
}
.buttonsbox{margin-left: auto;
   margin-right: auto;
   width: 150px;
}
button.registerloginbutton, .buttonsbox a.register, button.loginbutton, .buttonsbox a.loginbutton{	width: 140px;
	
text-align: center;}
.buttonsbox {text-align:center; margin-left:20px;}
#leftcolumn {width: 400px;}
#centercolumn {text-valign:top;}

