/* v5.24 CSS - Apr.04 2006 */

.toplink { font-size: 10px; color: #124490; text-decoration: none; }
.toplink a { font-size: 10px; color: #124490; text-decoration: underline; }
.toplink a:hover { font-size: 10px; color: #124490; text-decoration: none; }
.bordermenu  { border-left: 1px solid #85A3C2; border-top: 1px solid #85A3C2; border-right: 1px solid #003366; border-bottom: 1px solid #003366;}

.sbm {
	background-color: #F1F7FF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ACC7EF;

}
a.ln:active {
	padding-left: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #336699;
	font-size: 10px;
/*	font-weight: bold; */
	border-left: 1px solid #9EB6CF;
	border-top: 1px solid #9EB6CF;
	border-right: 1px solid #24486C;
	border-bottom: 1px solid #24486C;
}
a.ln:link {
	padding-left: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #E9F2FF;
	background-position: left center;
	background-repeat: no-repeat;
	color: #0F3F79;
	text-decoration: none;
	display: block;
	font-size: 10px;
	border-left: 1px solid #F5F9FF;
	border-top: 1px solid #F5F9FF;
	border-right: 1px solid #91A0B4;
	border-bottom: 1px solid #91A0B4;
}
a.ln:visited {
	padding-left: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #E9F2FF;
	background-position: left center;
	background-repeat: no-repeat;
	color: #0F3F79;
	text-decoration: none;
	display: block;
	font-size: 10px;
	border-left: 1px solid #F5F9FF;
	border-top: 1px solid #F5F9FF;
	border-right: 1px solid #91A0B4;
	border-bottom: 1px solid #91A0B4;
}
a.ln:hover {
	padding-left: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #336699;
	background-position: left center;
	background-repeat: no-repeat;
	color: #000000;
	text-decoration: none;
	display: block;
	background-color: #FFB300;
	font-size: 10px;
/*	font-weight: bold; */
	border-left: 1px solid #FFDB86;
	border-top: 1px solid #FFDB86;
	border-right: 1px solid #614400;
	border-bottom: 1px solid #614400;
}


/* GLOBAL classes - skin & pages */
td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}
input { font-family: Verdana, Arial,  Helvetica, sans-serif; font-size: 11px;}
textarea { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}
select { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}
hr {border: 1px solid #ACC7EF;}

/* Alert fonts*/
.redfont {color: FF0000;}
.blackfont {color: 000000;}
.greenfont {color: #006600;}
.bluefont {color: #0000CC;}
.alertfont {color: #FF0000;}

/* Feedback fonts*/
.positive {color: #009933;}
.neutral {color: #666666;}
.negative {color: #FF0000;}

/* SYSTEM classes - skin & pages */

/* payment gateways table */
.paymenttable {border: 1px solid #666666; background-color: #FFFFFF;}
.paytable1 {background-color: #FFFFFF;}
.paytable2 {background-color: #F8F8F8;}
.paytable3 {background-color: #f0f0f0;}
.payactive {color: blue;}


.sell {font-size: 10px; font-weight: bold; color: #FFFFFF; }
.sell a {font-size: 10px; font-weight: bold; color: #FFFFFF; }
.sell a:hover { font-size: 10px; font-weight: bold; color: #FFFF00; text-decoration: none; }

.item { font-size: 10px; color: #000000; text-decoration: none;}
.item a { font-size: 10px; color: #000000; text-decoration: underline; }
.item a:hover { font-size: 10px; color: #FF0000; text-decoration: none; }

.bolditem { font-size: 10px; font-weight: bold; color: #000000; text-decoration: none;}
.bolditem a { font-size: 10px; font-weight: bold; color: #000000; text-decoration: underline; }
.bolditem a:hover { font-size: 10px; font-weight: bold; color: #FF0000; text-decoration: none; }

.hlitem { font-size: 10px; color: #000000; text-decoration: none; }
.hlitem a { font-size: 10px; text-decoration: underline; color: #000000; background: #00CCFF; }
.hlitem a:hover { font-size: 10px; color: #FFFFFF; text-decoration: none; background: #00CCFF;}

.hlbolditem { font-size: 10px; font-weight: bold; color: #000000; text-decoration: none; }
.hlbolditem a { font-size: 10px; font-weight: bold; text-decoration: underline; color: #000000; background: #00CCFF;}
.hlbolditem a:hover { font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none; background: #00CCFF;}

.smallfont { font-size: 10px; color: #000000; text-decoration: none;}
.smallfont a { font-size: 10px; color: #000000; text-decoration: underline; }
.smallfont a:hover { font-size: 10px; color: #006699; text-decoration: none; }

.contentfont { font-size: 11px; color: #000000; text-decoration: none; }
.contentfont a { font-size: 11px; color: #003366; text-decoration: underline; }
.contentfont a:hover { font-size: 11px; color: #006699; text-decoration: underline; }

.submenu {font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none;}
.submenu a {font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: underline;}
.submenu a:hover { font-size: 10px; font-weight: bold; color: #FFFF00; text-decoration: none; }

.membmenucell {background-color: #FFFFFF;}
.membmenu {background-color: #e9e9eb;}

/* SYSTEM classes - auctiondetails.php */
.topitempage { background-color: #FFFFE1; border: 1px dashed #CFCFCF; margin-bottom: 5px; padding: 6px; line-height: 18px; }
.topitempage a { font-size: 11px; color: #000000; text-decoration: underline; }
.topitempage a:hover { font-size: 11px; color: #FF0000; text-decoration: underline; }
.itemid { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #004680; font-weight: bold;}
.itemidend { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #0C6CBB; font-weight: bold;}
.subitem { background-color: #ffffff; border: 1px solid #ACC7EF;}
.counter {background-color: #FF9900; color: #FFFFFF; font-weight: bold; font-size: 12px;}
.picselect { background-color: #ffffff; font-weight: bold;}
.picselectmain { background-color: #ffffff;}
/*.picselect { background-color: #E3EEF6; font-weight: bold;}
.picselectmain { background-color: #F1F7FF;}*/
.leftborder {border-left: 1px solid #ACC7EF;} 

.gradient {border: 1px solid #999999; background-color: #FFFFE1; } /* featured items images bg */

/* SYSTEM classes - border for Steps in sell item pages */
.sellsteptab { border-left: 1px solid #ACC7EF; border-bottom: 1px solid #ACC7EF; border-right: 1px solid #ACC7EF;}

/* SYSTEM classes - font in Members area  */
.boldgrey { font-size: 10px; color: #666666; font-weight: bold; text-decoration: none;}
.boldgrey a { font-size: 10px; color: #666666; font-weight: bold; text-decoration: underline;}
.boldgrey a:hover { font-size: 10px; color: #666666; font-weight: bold; text-decoration: none;}

.membutt {font-size: 10px; color: #003399; text-decoration: none;}
.membutt a {font-size: 10px; color: #003399; text-decoration: none;}
.membutt a:hover {font-size: 10px; color: #666666; text-decoration: none;}


/* SYSTEM classes - links color in categories headers */
.cathead { font-size: 10px; font-weight: normal; color: #FFFFFF; text-decoration: none; }
.cathead a { font-size: 10px; color: #FFFFFF; text-decoration: underline; }
.cathead a:hover { font-size: 10px; color: #FFEE00; text-decoration: none; }

/* SYSTEM classes - error & alert message */
.errormessage { background-color: #FFFFE1; border: 1px dashed #CFCFCF; margin-top: 8px; margin-bottom: 16px; padding: 6px; line-height: 18px; }

/* V5 & system classes &  - main colors */
.c1 {background-color: #0082D6; color: #FFFFFF; font-weight: bold;} /* blue */
.c1 a {color: #FFFFFF; font-weight: bold;}
.c1 a:hover {color: #FFFFFF; font-weight: bold;}
.c2 {background-color: #F8FBFD;} /* lightgray light */
.c3 {background-color: #F0F6FA;} /* lightgray middle*/
.c4 {background-color: #E3EEF6;} /* lightgray dark */
.c5 {background-color: #8BC6EF;} 
.c6 {background-color: #EEF2F9; color: #003399;}
.c7 {background-color: #E3E4EB;} /* bluegray admin area */
.c8 {
  background-color: #0C6CBB;
  color: white;
  font-weight: bold;
}
.c9 {
  background-color: #acc7ef;
}
.whiteback {
  background-color: white;
}




/* SYSTEM classes - register.php */
.creg2 {background-color: #FFFFFF;} /* white */
.creg3 {background-color: #FFFFFF;} /* white*/
/*.creg2 {background-color: #F8FBFD;}  lightgray light */
/*.creg3 {background-color: #F0F6FA;}  lightgray middle*/
.creg4 {background-color: #ffffff;} /* inside bg for tables */
/*.creg5 {background-color: #ffffff;} /* block tables */
.creg5 {background-color: #ACC7EF;} /* block tables */
.regborder {background-color: #ffffff; border: 1px solid #ffffff;}
/*.regborder {background-color: #ffffff; border: 1px solid #ACC7EF;}*/
.regsignup {background-color: #FF9900; color: #FFFFFF; font-weight: bold; font-size: 12px;}
.reguser { font-size: 9px; background-color: #FFFFFF; color: #666666;} /* small text for comments*/
.pintext { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #666666; }

.border {border: 1px solid #ACC7EF;}

/* V5 classes - featured items colors in main page */

.feat1 { font-size: 10px; background-color: #FF6600; color: white; font-weight: bold; }
.feat2 { font-size: 10px; background-color: #0F3F79; color: white; font-weight: bold;}
.feat3 { font-size: 10px; background-color: #FFCC00; color: black; font-weight: bold;}
.feat3 a { font-size: 10px; background-color: #FFCC00; color: black; font-weight: bold;}
.feat3 a:hover { font-size: 10px; background-color: #FFCC00; color: black; font-weight: bold;}

/* V5 classes - featured items colors in main page */
a.hidelayer:link {font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: none;}
a.hidelayer:visited {font-size: 11px; color: #ffffff; font-weight: bold; text-decoration: none;}

/* V5 classes - main nav menu colors */
.mainmenu {font-size: 10px; font-weight: bold; color: #FFFFFF; }
.mainmenu a {font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none;}
.mainmenu a:hover { font-size: 10px; font-weight: bold; color: #FF6600;}
.mainmenuactive a { font-size: 10px; font-weight: bold; color: #FF6600; text-decoration: none;}
.user { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #666666; }

/* V5 classes - other */
.search {font-size: 10px; font-weight: bold; color: #ffffff; text-decoration: none;}
.search a {font-size: 10px; font-weight: bold; color: #ffffff; text-decoration: underline;}
.search a:hover { font-size: 10px; font-weight: bold; color: #ffffff; text-decoration: underline; }

.welcome { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #003399; }

.categories { font-family: Verdana, Arial,  Helvetica, sans-serif; color: #666666; font-size: 12px; text-decoration: none;}
.categories a { font-family: Verdana, Arial, Helvetica, sans-serif; color: #666666; font-size: 11px; text-decoration: none;}
.categories a:hover { font-family: Verdana, Arial,  Helvetica, sans-serif; color: #666666; font-size: 11px; text-decoration: underline;}

.maintext { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
.title { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }

/* V5 classes - footer.php */
.footerfont { font-size: 10px; color: #000000; text-decoration: none; }
.footerfont a { font-size: 10px; color: #000000; text-decoration: underline; }
.footerfont a:hover { font-size: 10px; color: #000000; text-decoration: none; }

.footerfont1 { font-size: 10px; color: #FFFFFF; text-decoration: none; }
.footerfont1 a { font-size: 10px; color: #FFFFFF; text-decoration: underline; }
.footerfont1 a:hover { font-size: 10px; color: #FF9900; text-decoration: none; }
