.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	white-space: nowrap ;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 1px 1px 1px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}
.head { 
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #777777;
	}
.header { 
	background-color: #4192DE;
	font-weight: bold;
	color: #FFFFFF;
	}
.header a:link { font-size: 10px; color: #FFFFFF; text-decoration: underline; }
.header a:hover { font-size: 10px; color: #00FF00; text-decoration: underline; }
.header a:visited { font-size: 10px; color: #FFFFFF; text-decoration: underline; }


input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

}
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.c1 { background-color: #DBEDF9; }
.c2 { background-color: #E9F6FF; }
.c3 { background-color: #4192DE; color: #FFFFFF; }
.c3 a { font-size: 10px; color: #FFFFFF; text-decoration: underline; }
.c3 a:link { font-size: 10px; color: #FFFFFF; text-decoration: underline; }
.c3 a:hover { font-size: 10px; color: #FFCC00; text-decoration: none; }
.c3 a:visited { font-size: 10px; color: #FFFFFF; text-decoration: underline; }
.c4 { background-color: #3366CC; color: #FFFFFF; font-weight: bold;}

.border { border: 1px solid #4192DE;}
h2 { color: #888888;}

.boxmain {
background-color: #F4F6F8;
border: 1px solid #93A5BC;
}
a:link {	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003399; text-decoration: none;}
a:hover  {	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #0099FF; text-decoration: underline;}
a:active  { 	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #0099FF; text-decoration: none;}
a:visited { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }

a.menulink:link {	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #003399; text-decoration: none;}
a.menulink:hover  {	font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10px; color: #0099FF; text-decoration: underline;}
a.menulink:active  { 	font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10px; color: #0099FF; text-decoration: none;}
a.menulink:visited  {	font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10px; text-decoration: none;}



TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.borderright {
	border-right: 1px dashed #777777;
}
.verdana10white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.bordertop {
	border-top: 1px solid red;

}
.borderbottom {
	border-bottom: 1px dashed #e9e9eb;
}
.verdana12black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.verdana12black a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.verdana12black a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	text-decoration: underline;
}
.verdana11bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.verdana11bold a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.verdana11bold a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}
.verdana10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
