button.loginbutton, .buttonsbox a.loginbutton{
   
}

.searchbar {
	/*background: url(themes/v52/gradient-ie.PNG) repeat-x;*/
		background: url(gradient-ie.PNG) repeat-x;
}

.leftborder1{
	margin-top: 8px;
	padding: 0px;
	width: 295px;
	height: 144px;

	border: 0px;

	background-image: url(/themes/v52/img/bg-welcome-left.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

.rightborder1{
	padding:0px;
	height: 100%;

	background-image: url(/themes/v52/img/bg-welcome-right.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.rightborder1 div{
	padding-left: 10px;
	padding-right: 10px;
	padding-top:8px;
	padding-bottom: 0px;
	/*overflow: auto;*/
}

.cyanborder {
width:100%;
}


.cyanborder  div {
width:100%;
}


.cyanborder  div  div {
width:100%;
}


.cyanborder  div  div  div {
width:100%;
}


.cyanborder  div  div  div  div {
width:100%;
}


.cyanborder  div  div  div  div  div {
width:100%;
}


.cyanborder  div  div  div  div  div  div {
width:100%;
}


.cyanborder  div  div  div  div  div  div  div {
width:100%;
}


.cyanborder  div  div  div  div  div  div  div  div {
width:100%;
}

.cyanborder  div  div  div  div  div  div  div  div {
width:100%;
}
td.topmenu, td.topmenuactive {
	vertical-align: top;
}

td.topmenu a, td.topmenuactive a {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 100%;
	height: 27px;
	line-height: 27px;
}
